/* variable styles */
:root{
    --primary_clr: #FFFFFF;
    --secondary_clr: #201513;
    --accent: #3E6AE1;
    --gray: #F9F9F9;
    --light_gray: #5c5e62; 
    --dark_gray: #393c41;
    --opacity: 0.20;
    --radius: 5px
}
/* reset default styles */
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
outline: none;
  text-decoration: none;
}
/* common and shared style start from here */
html{
    scroll-behavior: smooth;
}
img{
    width: 100%;
    height: auto;
}
body {
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
.container {
    max-width: 1440px;
    width: 95%;
    margin: 0 auto;
    padding: 20px;
}
.background{
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.btn-wrapper {
    display: flex;
    gap: 30px;
}
.cta{
    width: 252px;
    padding: 10px 24px;
    font-size: 16;
    line-height: 17px;
    font-weight: 600;
    border: 0;
    cursor: pointer;
    outline: 0;
    border-radius: var(--radius);
    text-transform: capitalize;
}
.primary-btn{
    background: var(--primary_clr);
    color: var(--secondary_clr);
}
.secondary-btn{
    background: var(--accent);
    color: var(--primary_clr);
}
.tertiary-btn{
    border-radius: 0;
    background: rgba(11, 11, 11, 0.70);
    color: var(--light_gray);
    transition: ease-in 300ms;
}
.tertiary-btn:hover{
    background: rgba(22, 22, 22, 0.90);
}
.btn-top-border-wrapper .tertiary-btn{
    margin: 3px 0 0 0;
}
.btn-top-border{
    width: 252px;
    height: 3px;
    background: var(--light_gray);
}
.btn-wrapper > .tertiary-btn{
    border: 1px solid var(--light_gray);
} 
.centred{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items : center;
}
section{
    padding: 100px 0 50px 0;
}
.content-wrapper{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.content{
    text-align: center;
}
.content__heading{
    font-size: 3.5rem;
    line-height: 56px;
    color: var(--primary_clr);
    margin: 0 0 15px 0;
    font-weight: 600;
    text-transform: capitalize;
}
.content__subheading{
    font-size: 2.5rem;
    line-height: 44px;
    margin: 0;
    font-weight: 600;
    color: var(--primary_clr);
    text-transform: capitalize;
}
.content__subheading-link,
.content__title-link{
    color: var(--primary_clr);
    border-bottom: 2px solid var(--primary_clr);
    transition: ease-in 300ms;
}
.content__subheading-link:hover,
.content__title-link:hover{
    border-bottom: 3px solid var(--primary_clr);
}
.content__title{
    font-size: 1.1rem;
    line-height: 20px;
    color: var(--primary_clr);
    font-weight: 600;
}
/* individual element style start from here */
/* header style start form here */
/* nav style start form here*/
header{
    background-image: url(/image/Hero_bg.png);
}
.nav{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.nav .nav__logo {
    width: 150px;
}
.nav .nav__menu .nav__menu-list {
    display: flex;
}
.nav__menu .nav__menu-item .nav__menu-link {
    font-weight: 500;
    color: var(--primary_clr);
    padding: 8px 15px;
    border-radius: var(--radius);
    transition: ease-in 300ms;
}
.nav__menu-item .nav__menu-link:hover{
    background: rgba(92, 94, 98, 20%);
}
.nav .nav__icon .nav__icon-link i{
    font-size: 22px;
    color: var(--primary_clr);
    padding: 6px;
    border-radius: var(--radius);
    transition: ease-in 300ms;
}
.nav .nav__icon .nav__icon-link i:hover{
    background: rgba(92, 94, 98, 20%);
}
/* nav style end here */
/* hero section style start form here*/
.hero {
    padding: 60px 0 0 0;
}
.hero__content-wrapper{
    text-align: center;
}
/* hero section style end here */
/* header style end here */
/* ModelY section style start form here */
#ModelY{
    background-image: url(/image/Model_Y.png);
}
/* ModelY style end here */
/* Model3 section style start form here */
#Model3{
    background-image: url(/image/Model_3.png);
}
/* Model3 section style end here */
/* Model X section style start form here */
#ModelX{
    background-image: url(/image/Model-X.png);
}
.content__title-box {
    width: 300px;
}
/* Model X section style end here */
/* Model S section style start form here */
#ModelS {
    background-image: url(/image/Model_S.png);
}
/* Model S section style end here */
/* Model Cybertrack section style start form here */
#Cybertrack{
    background-image: url(/image/Cybertruck.png);
}
.content__title-uppercase{
    text-transform: uppercase;
}
/* Model Cybertrack section style end here */
/* Solar Panel section style start form here */
#Solar-panel{
    background-image: url(/image/SolarPanels.avif);
}
/* Solar Panel section style end here */
/* Solar Roof section style start form here */
#Solar-roof{
    background-image: url(/image/SolarRoof.png);
}
/* Solar Roof section style end here */
/* Powerwall section style start form here */
#Powerwall{
    background-image: url(/image/Accessories.png);
}
/* Powerwall section style end here */
/* Accessories section style start form here */
#Accessories{
    background-image: url(/image/Accessories.png);
}
/* Accessories section style end here */
/* CTA section style start form here */
.video-wrapper{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.video-wrapper video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}
.video-wrapper .content-wrapper {
    justify-content: center;
    align-items: flex-start;
}
/* CTA section style end here */